@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	60% {transform: translateY(-10px);}
}

@keyframes swing {
	20% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg); }
	60% { transform: rotate(5deg); }	
	80% { transform: rotate(-5deg); }	
	100% { transform: rotate(0deg); }
}

@keyframes flip {
	0% {
		transform: perspective(1200px) rotateY(0);
		animation-timing-function: ease-out;
	}
	40% {
		transform: perspective(1200px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: perspective(1200px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-in;
	}
	80% {
		transform: perspective(1200px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100% {
		transform: perspective(1200px) scale(1);
		animation-timing-function: ease-in;
	}
}

@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

.roll-in {
  animation: roll-in 2s ease infinite;
}
@keyframes roll-in {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}


@keyframes hinge {
  0% { transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out; }  
  20%, 60% { transform: rotate(80deg); transform-origin: top left; animation-timing-function: ease-in-out; }  
  40% { transform: rotate(60deg); transform-origin: top left; animation-timing-function: ease-in-out; } 
  80% { transform: rotate(60deg) translateY(0); opacity: 1; transform-origin: top left; animation-timing-function: ease-in-out; } 
  100% { transform: translateY(700px); opacity: 0; }
}


@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes border-anim {
  0%{
    border: 0;
  }
  25%{
    border-top: 2px  #000000 solid;
  }
  50%{
    border-top: 2px  #000000 solid;
    border-right:2px #000000 solid;
  }
  75%{
    border-top: 2px  #000000 solid;
    border-right: 2px #000000 solid;
    border-bottom: 2px #000000 solid;
  }
  100%{
    border-top: 2px  #000000 solid;
    border-right: 2px #000000 solid;
    border-bottom: 2px #000000 solid;
    border-left: 2px #000000 solid;
    box-shadow: 2px 2px 2px 2px #313131;
  }
}

@keyframes move {
  10%{
    opacity: 0;
  }
  25% {
    transform: translatey(-372.8px);
    opacity: 1;
  }
  35%{
    opacity: 0;
  }
  50% {
    transform: translatey(-745.6px);
    opacity: 1;
  }
  60%{
    opacity: 0;
  }
  75% {
    transform: translatey(-1118.4px);
    opacity: 1;
  }
  85%{
    opacity: 1;
  }
  90%{
    transform: translatey(-1118.4px);
  }
  98%{
    opacity: 0;
  }
}
 

@keyframes left-transition{
  from{
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    margin-left: 100px;
  }
  to{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    margin-left: 0px;
  }
}

@keyframes top-transition{
  from{
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    margin-top: 100px;
  }
  to{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    margin-top: 0px;
  }
}

@keyframes bottom-to-top-transition {
  from {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transform: translateY(100px);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #ecf0f1; }
}

@keyframes move-768 {
  10%{
    opacity: 0;
  }
  25% {
    transform: translatey(-380px);
    opacity: 1;
  }
  35%{
    opacity: 0;
  }
  50% {
    transform: translatey(-760.6px);
    opacity: 1;
  }
  60%{
    opacity: 0;
  }
  75% {
    transform: translatey(-1140.4px);
    opacity: 1;
  }
  85%{
    opacity: 1;
  }
  90%{
    transform: translatey(-1140.4px);
  }
  98%{
    opacity: 0;
  }
}

@keyframes side-transition{
  from{
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    margin-left: 100px;
  }
  to{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    margin-left: 0px;
  }
}

@keyframes move-425 {
  10%{
    opacity: 0;
  }
  25% {
    transform: translatey(-300px);
    opacity: 1;
  }
  35%{
    opacity: 0;
  }
  50% {
    transform: translatey(-600px);
    opacity: 1;
  }
  60%{
    opacity: 0;
  }
  75% {
    transform: translatey(-890px);
    opacity: 1;
  }
  85%{
    opacity: 1;
  }
  90%{
    transform: translatey(-890px);
  }
  98%{
    opacity: 0;
  }
}

@keyframes move-638 {
  10%{
    opacity: 0;
  }
  25% {
    transform: translatey(-390px);
    opacity: 1;
  }
  35%{
    opacity: 0;
  }
  50% {
    transform: translatey(-780.6px);
    opacity: 1;
  }
  60%{
    opacity: 0;
  }
  75% {
    transform: translatey(-1180.4px);
    opacity: 1;
  }
  85%{
    opacity: 1;
  }
  90%{
    transform: translatey(-1180.4px);
  }
  98%{
    opacity: 0;
  }
}
